.table tbody>tr>td {
    border-top: none;
}

body {
	background-image: url('../img/brushed.png');
}

footer {
	position:fixed;
	bottom:0;
	left:10%;
	width:80%;
	height:4em;
	text-align: center;
}







